# Compiled class file
*.class

# Log files
*.log

# Build directories
/bin/
/build/
/target/

# IDE specific files
/.idea/
/*.iml
/.vscode/
/*.swp
/.classpath
/.project
/.settings/

# Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
/build/
!gradle-wrapper.jar

# JAR/WAR/EAR
*.jar
*.war
*.ear

# Environment files
.env

# Node.js dependencies (caso tenha frontend junto)
node_modules/
